---
import Base from "./base.astro";
import "./styles.css";

const { id, project, totalProjects } = Astro.props;
---

<Base title={project.name} width="650px">
    <p class="order" slot="order">{id}/{totalProjects}</p>
    <div slot="description" set:html={project.description} />
    <div slot="image" class="image_container">
        {
            project.image_path && (
                <img
                    class="project_img"
                    src={project.image_path}
                    alt={project.name}
                />
            )
        }
    </div>

    <div class="context entries" slot="entries">
        <ul>
            {
                project.page_link && (
                    <li data-url={project.page_link}>
                        <span class="iconify" data-icon="mdi-open-in-new" />
                        Project webpage
                    </li>
                )
            }
            {
                project.source_code_link && (
                    <li data-url={project.source_code_link}>
                        <span class="iconify" data-icon="mdi-git" />
                        Source code
                    </li>
                )
            }
        </ul>
    </div>
    <div class="context nav" slot="nav">
        <ul>
            {
                id > 1 ? (
                    <li data-url={`/project/${parseInt(id) - 1}`}>&lt;</li>
                ) : (
                    <>&nbsp;</>
                )
            }
            <li data-url="/home">&lt;Home&gt;</li>
            {
                id < totalProjects ? (
                    <li data-url={`/project/${parseInt(id) + 1}`}>&gt;</li>
                ) : (
                    <>&nbsp;</>
                )
            }
        </ul>
    </div>
</Base>

<style>
    .order {
        text-align: center;
        margin: 15px 0;
    }
</style>

<script src="./script.js"></script>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
